html, body {
    margin: 0;
    padding: 0;
 }
nav{
    background-color: darkslategrey;
    display: flex;
    color: white;
    position: fixed;
    text-align: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: sans-serif;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10em;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}
nav ul {
    flex-shrink: 1;
    list-style-type: none;
    display: flex;
    gap: 2em;

}
nav li{
     box-sizing: border-box;
    padding: 0.7em;    
 border-radius: 10px;
}
li:hover{
    color: rgb(30, 190, 124);
   
}
#first{
    height: 100svh;
    gap: 1rem;
    text-transform: uppercase;
    background-color: rgb(30, 190, 124);
color: white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
#first h1{
    font-size: 4em;
    margin: 0;
    font-family: sans-serif;
}
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-style: sans-serif;
    margin: 20px 0;
}

.line {
    width: 80px;
    height: 4px;
    background-color: white; 
}

.star {
    font-size: 30px;
    color: white;
}

#first h3{
   text-transform: capitalize;
   letter-spacing: 2px;
    margin: 0;
    font-family: sans-serif;
}
main h1{
    color: darkslategray;
    margin: 1em 0 0 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.line2 {
    width: 80px;
    height: 4px;
    background-color: darkslategray; 
}
.star2 {
    font-size: 30px;
    color: darkslategray;
}
.divider2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-style: sans-serif;
    margin: 0px 0px;
}
.main-inner{
 height: 50svh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30vh);
    justify-content: center;
    
}
main{
    height: 70vh;
}
.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img{
    border-radius: 1em;
}
.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(30, 190, 124, 0.85);
    height: 85%;
    width: 85%;
    justify-self: center;
    align-self: center;
    border-radius: 1em;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}
.plus {
    font-size: 5rem;
    color: white;
    font-weight: bold;
}
.img-container:hover .overlay {
    opacity: 1;
}
.img-container img {
    transition: transform 0.3s ease;
}

.img-container:hover img {
    transform: scale(1.05);
}
.About{
    background-color:  rgba(30, 190, 124, 0.85);
    color: white;
    height: 50svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding-top: 0px;
}
footer h1{
    margin: 0;
    font-family: sans-serif;
    font-size: 3em;
    }
.divider3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-style: sans-serif;
    margin: 0px 0px;
    }
.About-section{
    display: flex;
    justify-content: center;
    text-align: start;
    width: 60svw;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.cm{
    text-align: center;
    color: darkslategray;
    margin: 1em 0 0 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}
.button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-weight: lighter;
    font-family: sans-serif;
transition: 0.2s ease-in;
}
.button:hover{
    transform: scale(1.2);
    background-color: white;
    color: darkslategray;
    border: 1px solid rgb(30, 190, 124); 
}
.divider4 {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-style: sans-serif;
    margin: 0px 0px;
}
.contact-form {
  max-width: 600px;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.field {
  position: relative;
}

.field input,
.field textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 12px 0;
  font-size: 1rem;
  outline: none;
  background: transparent;

}


.field label {
  position: absolute;
  left: 0;
  top: 12px;
  color: #999;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.25s ease;
}

.field input:focus,
.field textarea:focus {
  border-bottom-color: rgb(30, 190, 124);
}

.field textarea {
  resize: none;
  min-height: 120px;
}
.button2{
    background-color: transparent;
    color: darkslategray;
    border: 1px solid darkslategray;
    padding: 0.7em 1.5em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    font-weight: lighter;
    font-family: sans-serif;
transition: 1s ease;}

.button2:hover{
        transform: scale(1.05);
        background-color: darkslategray;
        color: white;
        border: 1px solid rgb(30, 190, 124); 
    }

#ending{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    padding: 1em 0;
    font-family: sans-serif;
    display: flex;
    justify-content: space-evenly;
}
#ending a {
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

#ending a:hover {
  background-color: white;
  color: darkslategray;
}
ul{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}
pre{
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}